#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  display: block;

  /*图片默认是inline元素 margin只对块级元素有效 设置为块级元素 */

    /* 使用 position 定位，不会影响其他元素 */
  position: absolute;      /* 绝对定位 */
  left: 10px;           /* 向左移动 500px */
  top: 0px;            /* 向上移动 280px */
  /* 或者使用 relative 相对定位 */
  /* position: relative;  相对定位 */
     /*top: 100px;
     left: 50px; */

  /* margin-left: -500px;      左侧外边距 */
  /* 影响文件流 同时改变其他组件 */

}

.card {
  padding: 2em;
  position: absolute;      /* 绝对定位 */
  left: 100px;           /* 向左移动 500px */
  top: 0px;            /* 向上移动 280px */
}

.Wallet {
  position: absolute;      /* 绝对定位 */
  left: 800px;           /* 向左移动 500px */
  top: 0px;            /* 向上移动 280px */
}

